<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<mappers>
		<mapper resource="sql/MemberSQL.xml"/>
		<mapper resource="sql/teacherBoardSQL.xml"/>
		<mapper resource="sql/teacherResultSQL.xml"/>
		<mapper resource="sql/ReviewSQL.xml"/>
		<mapper resource="sql/CommonQnASQL.xml"/>
		<mapper resource="sql/CommonQNA_ReplySQL.xml"/>
		<mapper resource="sql/DeclarationSQL.xml"/>
		<mapper resource="sql/TeacherBoardNoticeSQL.xml"/>
		<mapper resource="sql/TeacherBoardReviewSQL.xml"/>
		<mapper resource="sql/LectureSQL.xml"/>
		<mapper resource="sql/StudentSQL.xml"/>
		<mapper resource="sql/teacherTestvideoSQL.xml"/>
		<mapper resource="sql/PurchaseSQL.xml"/>
		<mapper resource="sql/CreditSQL.xml"/>
		<mapper resource="sql/NoticeMsgSQL.xml"/>
		<mapper resource="sql/CartSQL.xml"/>
		<mapper resource="sql/CreateLecture.xml"/>		
		<mapper resource="sql/CategorySQL.xml"/>		
		<mapper resource="sql/TestVideoSQL.xml"/>
		<mapper resource="sql/LectureCheckSQL.xml"/>
		<mapper resource="sql/CreateLectureCurriculumSQL.xml"/>		
	</mappers>
	
</configuration>